version: '3.8'

services:
  oasis-api:
    build:
      context: .
      dockerfile: api/Dockerfile
    container_name: oasis
    image: tannnn/oasis:latest # 0.0.3.7
    ports:
      - "1249:1249"
    environment:
      # Oasis 配置环境变量
      OASIS_DEF_PWD: ${OASIS_DEF_PWD:-123}
      OASIS_DEF_UNAME: ${OASIS_DEF_UNAME:-tan}
      OASIS_DEF_SITE_TITLE: ${OASIS_DEF_SITE_TITLE:-Oasis}
      # 文件上传大小限制
      FILE_MAX_SIZE: ${FILE_MAX_SIZE:-500MB}
      FILE_MAX_REQUEST: ${FILE_MAX_REQUEST:-500MB}
      DB_USERNAME: ${DB_USERNAME:-sa}
      DB_PASSWORD: ${DB_PASSWORD:-sa}
      H2_CONSOLE_ENABLED: ${H2_CONSOLE_ENABLED:-false}
      DOC_PASSWORD: ${DOC_PASSWORD:-tan}
      DOC_USERNAME: ${DOC_USERNAME:-tan}
    volumes:
      # 持久化数据库文件
      - ./api/db:/app/api/db
      # 可选：持久化日志
      - ./logs:/app/logs
      # 可选：配置文件
      #- ./resources:/app/resources
    restart: unless-stopped
    networks:
      - oasis-network

networks:
  oasis-network:
    driver: bridge
