/**
 *自定义样式页面
 * 2025-08-28
 */
// 使用屏幕宽度
.page-content-width{
  width: 1200px;
  margin: 0 auto;
}

// 溢出省略号显示
.overText{
  // white-space: nowrap;//溢出不换行
   text-overflow: ellipsis;
  //文字超行用省略代替
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;//控制行数
  // line-height:40px;//控制行高
  overflow: hidden;
  /* 英文的字符，需斩断 */
  word-break: break-all;
}